<app-mail-layout [footerSlot]="footer" class="mainLayoutHeight124">
  <header class="d-flex ion-justify-content-between ion-align-items-center">
    <ion-text color="light" class="title-20">Events</ion-text>

  </header>
  <ion-virtual-scroll [items]="[1, 2, 3]" approxItemHeight="220px">
    <ion-card *virtualItem="let item; let itemBounds = bounds;" color="primary">
      <div>
        <ion-img [src]="'assets/images/events.png'" height="160" [alt]="'Second Skate Challenge'"></ion-img>
      </div>
      <ion-card-header color="dark" class="d-flex ion-justify-content-between events-card-header">

        <div class="d-flex flex-column ion-justify-content-center mr8">
          <ion-card-title color="light" class="text-16-500">Second Skate Challenge</ion-card-title>
          <ion-text color="tertiary" class="text-12">Alderman’s Walk, West London</ion-text>
        </div>

        <app-calendar-day></app-calendar-day>

      </ion-card-header>
    </ion-card>
  </ion-virtual-scroll>
  <ng-template #footer>
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-buttons class="ion-justify-content-center">
          <ion-button fill="clear">
            <ion-icon slot="start" name="arrow-down" color="secondary"></ion-icon>
            <ion-text color="secondary" class="text-16">Load more</ion-text>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

    </ion-footer>
  </ng-template>
</app-mail-layout>

