<app-mail-layout
        class="mainLayoutHeight124"
        [isNeedRightPadding]="false"
        [isNeedLeftPadding]="false"
        [isNotNeedPaddingTopHeader]="true"
>
    <ion-grid class="ion-padding-start ion-padding-end mb12">
        <ion-row>
            <ion-col class="p0" size="6">
                <ion-icon
                        class="icon-as-btn"
                        color="secondary"
                        name="arrow-back-outline"
                        size="large"
                        (click)="back()"
                ></ion-icon>
            </ion-col>
            <ion-col class="p0" size="4" offset="2">
                <ion-button color="primary" fill="clear" (click)="showLocation()">
                    <ion-icon color="secondary" name="location-outline"></ion-icon>
                    <ion-label color="secondary"  class="text-16">Location</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="p0">
                <ion-text color="light" class="title-28">{{skatepark?.name}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="p0">
                <ion-text color="light"  class="text-15">{{skatepark?.city}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slider-photos [slides]="slides"></app-slider-photos>
    <ion-grid class="ion-padding-start ion-padding-end mt16">
        <ion-row>
            <ion-col class="p0" size="9">
                <ion-button expand="block" color="dark" (click)="openEditParkModal()">Add Photos</ion-button>
            </ion-col>
            <ion-col class="p0" offset="1" size="2">
                <ion-button color="dark" (click)="addFavourite(skatepark)">
                    <ion-icon
                            slot="icon-only"
                            [color]="skatepark.is_favourite ? 'secondary': 'light'"
                            [name]="skatepark.is_favourite ? 'heart' : 'heart-outline'"
                    ></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="divisor mt16 mb16"></div>
    <section class="ion-padding-start ion-padding-end d-flex ion-justify-content-between ion-align-items-center ">
            <div>
                <span> {{skatepark.rating}} ({{skatepark.rating_count ? skatepark.rating_count: 0 }} ratings) </span>
                <ionic-rating-component
                    #rating
                    activeIcon = "star"
                    defaultIcon = "star-outline"
                    [activeColor] = activeRatingColor
                    [defaultColor] = defaultRatingColor
                    readonly="true"
                    [rating]="skatepark.rating"
                    fontSize = "16px">
                </ionic-rating-component>
            </div>

        <ion-button fill="clear" (click)="openModalRatings()">
            <ion-text color="light" class="text-16 text--underline">Add a rating</ion-text>
        </ion-button>
    </section>
    <div class="divisor mt16 mb16"></div>
    <section class="ion-margin-top ion-padding-start ion-padding-end d-flex flex-column">
        <header class="mb16">
            <ion-text color="light" class="title-18">Address</ion-text>
        </header>
        <ion-text>{{skatepark.address}}</ion-text>
    </section>
    <section class="ion-padding-start">
        <app-slider-features [slides]="featuresSlides"></app-slider-features>
    </section>
    <section class="ion-margin-top ion-padding-start ion-padding-end d-flex flex-column">
        <header class="mb16">
            <ion-text color="light" class="title-18">Closest skate store</ion-text>
        </header>
        <app-closet-store>
        </app-closet-store>
    </section>
    <div class="divisor mt16 mb16"></div>
    <section class="ion-padding-start ion-padding-end ion-text-center">
        <ion-text color="danger" class="text-hover" (click)="openModalReportClosure()">Report park closure</ion-text>
    </section>
</app-mail-layout>
