<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text slot="start" class="ion-margin-start title-20">
      Add players
    </ion-text>

    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <ion-list class="ion-list-dark">
    <ion-list-header color="dark" class="mb16"><ion-text color="light" class="text-16">Player name</ion-text></ion-list-header>
    <ion-item   color="dark" lines="none" class="mb12">

      <ion-input placeholder="Type here"></ion-input>
      <ion-button class="add-player" slot="end" color="secondary" (click)="addPlayer()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item   color="dark" lines="none" class="mb12">
      <ion-icon color="secondary" slot="start" name="link-outline"></ion-icon>
      <ion-label color="secondary">Link profile</ion-label>
      <ion-button fill="clear" slot="end" (click)="showProfile()">
        <ion-icon slot="icon-only"  color="secondary" name="chevron-down-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <div class="divisor mt20 mb20"></div>

  <ion-list class="ion-list-dark">
    <ion-list-header color="dark" class="mb16"><ion-text color="light" class="text-16">Players</ion-text></ion-list-header>
    <ion-item  *ngFor="let p of players" color="dark" lines="none" class="mb12">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
        <ion-label>Matt Jones</ion-label>
      <ion-button fill="clear" slot="end" (click)="removePlayer()">
        <ion-icon color="light" slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="savePlayers()" class="ion-margin-start ion-margin-end mb12 apply-btn" fill="solid" color="success" expand="block">
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
