<ion-header [translucent]="false">
  <ion-toolbar
          color="dark"
          class="layout-toolbar"
  >
    <ion-menu-button *ngIf="mainLayoutHelper.menuToggleEmitter$ | async" slot="end" color="light" class="header-menu-button" (click)="openMenu()">
      <ion-icon class="menu-icon" slot="icon-only" size="large" name="menu-outline"></ion-icon>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <div class="profile-header__wrap ion-margin-bottom" [ngStyle]="{
  'background': 'linear-gradient(89deg, rgba(0,0,0, 0.2) 0%, rgba(0,0,0, 0.74) 100%), url(' + profile.picture + ') center/75% no-repeat '}
">
    <div class="d-flex flex-column">
      <ion-text color="light" class="title-20">{{profile.firstname}} {{profile.lastname}}</ion-text>
      <ion-text color="tertiary" class="text-16">Active since {{profile.date}}</ion-text>
    </div>
  </div>
  <div class="d-flex flex-column ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-text color="light" class="text-16">Date of Birth</ion-text>
    <ion-text color="tertiary" class="text-16">{{profile.dob | date: 'longDate'}}</ion-text>
  </div>

  <div class="d-flex flex-column ion-margin-bottom ion-margin-start ion-margin-end">
    <ion-text color="light" class="text-16">Location</ion-text>
    <ion-text color="tertiary" class="text-16">{{profile.location}}</ion-text>
  </div>

  <div class="divisor"></div>

  <div>
    <ion-button
            color="success"
            expand="block"
            class="ion-margin-top  ion-margin-start ion-margin-end"
            (click)="editProfile()"
    >
      <ion-text color="light" class="text-15-500">Edit Profile</ion-text>
    </ion-button>

    <ion-button color="dark" fill="clear" expand="block" class="mt12" (click)="logout()">
      <ion-text color="danger" class="text-16">Sign out</ion-text>
    </ion-button>
  </div>


</ion-content>
