
  <ion-card *ngFor="let item of events;" color="primary" (click)="openEvent(1)">
    <div>
      <ion-img [src]="'assets/images/events.png'" height="160" [alt]="'Second Skate Challenge'"></ion-img>
    </div>
    <ion-card-header color="dark" class="d-flex ion-justify-content-between events-card-header">

      <div class="d-flex flex-column ion-justify-content-center mr8">
        <ion-card-title color="light" class="text-16-500">Second Skate Challenge</ion-card-title>
        <ion-text color="tertiary" class="text-12">Alderman’s Walk, West London</ion-text>
      </div>

      <app-calendar-day></app-calendar-day>

    </ion-card-header>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
