<ng-container *ngIf="events.length > 0; else emptyBlock">
    <app-event *ngFor="let item of events;" [event]="events"></app-event>
</ng-container>
<ng-template #emptyBlock>
    <ion-text color="tertiary" class="empty-title">No events yet</ion-text>
</ng-template>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
