<ion-grid class="p0">
  <ion-row>
    <ion-col size="9" class="p0">
      <div class="main-photo mr8" [ngStyle]="{'background-image':'url(assets/images/my_spots/1.png)'}"></div>
    </ion-col>
    <ion-col size="3" class="p0">
      <div class="d-flex h100percent flex-column ion-justify-content-between">
        <div class="small-photo" [ngStyle]="{'background-image':'url(assets/images/my_spots/2.png)'}"></div>
        <div class="small-photo" [ngStyle]="{'background-image':'url(assets/images/my_spots/2.png)'}">
          <div class="last">
            <ion-text color="light" class="title-20">6</ion-text>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-text color="light" class="text-16-500">Isleham Skatepark East</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
