<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <form [formGroup]="form" class="ion-margin-top">
    <input type="file" #upload (change)="uploadFiles($event)" style="display: none">
    <div class="upload-photo" [ngStyle]="{'background-image': 'url(' + profile.picture + ')'}">
      <ion-icon slot="icon-only" name="add-circle" color="success" (click)="addFile()"></ion-icon>
    </div>

    <div class="divisor mb20 "></div>
    <ion-item color="dark">
      <ion-label position="stacked">
        <ion-text class="text-16">First Name</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="firstname"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="stacked">
        <ion-text class="text-16">Last Name</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="lastname"></ion-input>
    </ion-item>

    <ion-item color="dark" lines="none">
      <ion-label position="stacked">
        <div class="d-flex ion-justify-content-between">
          <ion-text class="text-16" color="light">Date of Birth</ion-text>
        </div>
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" formControlName="dob" class="mt12"
                    [max]="maxYear" mode="ios"
                    [ngClass]="{'invalid-input': form.get('dob').touched && form.get('dob').invalid}"
      ></ion-datetime>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.dob">
          <div class="error-message"
               *ngIf="form.get('dob').hasError(validation.type) && (form.get('dob').dirty || form.get('dob').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="stacked">
        <ion-text class="text-16">Location</ion-text>
      </ion-label>
      <ion-input placeholder="Start typing location" formControlName="location"></ion-input>
    </ion-item>

    <div class="ion-margin">
      <ion-label position="stacked">
        <ion-text class="text-16">Gender</ion-text>
      </ion-label>
      <app-custom-toggle-control formControlName="gender" [buttons]="genders"></app-custom-toggle-control>
    </div>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-button
            [disabled]="form.invalid"
            (click)="saveProfile()"
            class=" mb12 apply-btn"
            fill="solid" color="success" expand="block"
    >
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
