<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text slot="start" class="ion-margin-start title-20">
      Trick instructions
    </ion-text>
    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark" *ngIf="trickUrl">
  <div class="d-flex h100percent ion-align-items-center ion-justify-content-center">
    <iframe
            width="375"
            height="211"
            [src]="getTrickUrl() | safe: 'resourceUrl'"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
  </div>

</ion-content>
