<app-mail-layout
        [isNeedRightPadding]="false"
        [isNeedLeftPadding]="false"
        [isNotNeedPaddingTopHeader]="true"
>
  <ion-grid class="ion-padding-start ion-padding-end">
    <ion-row>
      <ion-col class="p0">
        <ion-icon
                class="icon-as-btn"
                color="secondary"
                name="arrow-back-outline"
                size="large"
                (click)="back()"
        ></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="mt12">
      <ion-col class="p0">
        <ion-img [src]="event.image"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="mt12">
      <ion-col class="p0">
        <ion-text color="light" class="title-20">{{event.name}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>

    <ion-item color="primary" lines="none" class="ion-margin-end mb16">
      <div class="icon-slot" slot="start">
        <ion-icon src="assets/images/svg-icons/explore-24px.svg"></ion-icon>
      </div>
      <div class="d-flex flex-column">
        <ion-label >
          <ion-text class="text-16" color="light">{{event.date_formatted}}</ion-text>
        </ion-label>
        <ion-text class="text-12" color="tertiary">{{event.time}} </ion-text>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none" class="ion-margin-end mb16">
      <div class="icon-slot" slot="start">
        <ion-icon src="assets/images/svg-icons/explore-24px.svg"></ion-icon>
      </div>
      <div class="d-flex flex-column">
        <ion-label >
          <ion-text class="text-16" color="light">Locak Skatepark</ion-text>
        </ion-label>
        <ion-text class="text-12" color="tertiary">{{event.address_line_1}}</ion-text>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none" class="ion-margin-end mb16">
      <div class="icon-slot" slot="start">
        <ion-icon src="assets/images/svg-icons/confirmation_number-24px.svg"></ion-icon>
      </div>
      <ion-label >
        <ion-text class="text-16" color="light">Free entrance</ion-text>
      </ion-label>
    </ion-item>

  </ion-list>

  <div class="divisor mt20 mb20"></div>
  <div class="d-flex flex-column ion-margin-start ion-margin-end">
    <ion-label position="stacked"><ion-text color="light" class="text-16">About the Event</ion-text></ion-label>
    <ion-text color="tertiary" class="mt8 text-15">
      {{event.description}}
    </ion-text>
  </div>

  <ion-button
          (click)="openBrowser()"
          color="success"
          expand="block"
          class="ion-margin-top ion-padding-start ion-padding-end"
  >
    <ion-text class="text-15-500">Visit Website</ion-text>
  </ion-button>

</app-mail-layout>
