ion-avatar, .add-player {
  width: 44px;
  height: 44px;
  border: 1px solid var(--ion-color-light);
}

ion-input {
  --background: var(--ion-color-medium-contrast) !important;
  --placeholder-color: var(--ion-color-medium) !important;
  --color: var(--ion-color-light) !important;
  --padding-start: 16px !important;
  --padding-end: 16px !important;
  --padding-top: 6px !important;
  --padding-botton: 6px !important;
  border-radius: var(--theme-base-border-radius);
  border: 1px solid var(--ion-color-secondary);
}

.email-input {
  height: 0;
  opacity: 0;
  transition: all 0.3s;

  &--show {
    opacity: 1;
    height: auto;
  }

  ion-item {
    --inner-padding-bottom: var(--ion-margin);
  }

}

.invalid-input {
  border: 1px solid var(--ion-color-danger) !important;
}
