.title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &--link {
    text-decoration: underline;
    cursor: pointer;
  }
}

ion-chip {
  padding-inline: 0;
}
.divisor {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 1px;
  background: var(--theme-divisor-color);
}
