<app-mail-layout
        [isNeedRightPadding]="false"
        [isNeedLeftPadding]="false"
        [isNotNeedPaddingTopHeader]="true"
>
    <ion-grid class="ion-padding-start ion-padding-end mb12">
        <ion-row>
            <ion-col class="p0">
                <ion-icon
                        class="icon-as-btn"
                        color="secondary"
                        name="arrow-back-outline"
                        size="large"
                        (click)="back()"
                ></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="p0">
                <ion-text color="light" class="title-28">Newquay Concrete Waves Skatepark</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="p0" size="6">
                <ion-chip color="primary">
                    <ion-label color="light"  class="text-16">West Cornwall</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col class="p0" size="4" offset="2">
                <ion-chip color="primary">
                    <ion-icon color="secondary" name="location-outline"></ion-icon>
                    <ion-label color="secondary"  class="text-16">Location</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slider-photos></app-slider-photos>
    <ion-grid class="ion-padding-start ion-padding-end mt16">
        <ion-row>
            <ion-col class="p0" size="9">
                <ion-button expand="block" color="dark">Add Photos</ion-button>
            </ion-col>
            <ion-col class="p0" offset="1" size="2">
                <ion-button color="dark" (click)="addFavourite()">
                    <ion-icon
                            slot="icon-only"
                            [color]="isFavor ? 'secondary': 'light'"
                            [name]="isFavor ? 'heart' : 'heart-outline'"
                    ></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="divisor mt16 mb16"></div>
    <section class="ion-padding-start ion-padding-end d-flex ion-justify-content-between ion-align-items-center ">
        <ionic-rating-component
                #rating
                activeIcon = "star"
                defaultIcon = "star-outline"
                [activeColor] = activeRatingColor
                [defaultColor] = defaultRatingColor
                readonly="true"
                rating="3"
                fontSize = "16px">
        </ionic-rating-component>
        <ion-text color="light" class="text-16 text--underline">Read all ratings</ion-text>
    </section>
    <div class="divisor mt16 mb16"></div>
    <section class="ion-padding-start">
        <app-slider-features [slides]="featuresSlides"></app-slider-features>
    </section>
    <section class="ion-margin-top ion-padding-start ion-padding-end d-flex flex-column">
        <header class="mb16">
            <ion-text color="light" class="title-18">Closest skate store</ion-text>
        </header>
        <app-closet-store>
        </app-closet-store>
    </section>
    <div class="divisor mt16 mb16"></div>
    <section class="ion-padding-start ion-padding-end ion-text-center">
        <ion-text color="danger" class="text-hover" (click)="openModalReportClosure()">Report park closure</ion-text>
    </section>
</app-mail-layout>
