<ion-list [ngClass]="{'primary': defaultCheckedColor === 'darktwo'}">
    <ion-item *ngFor="let ch of checkboxes"
              [color]="value.includes(ch.value) ? defaultCheckedColor : defaultUncheckedColor"
              class="mb4"
              lines="none"
    >
        <ion-label [color]=" value.includes(ch.value) ? 'secondary'  : 'tertiary'">{{ch.name}}</ion-label>
        <ion-checkbox slot="end"
                      [ngClass]="{'darktwo': defaultCheckedColor === 'darktwo'}"
                      [checked]="value.includes(ch.value)"
                      (ionChange)="change(ch)"
                      [disabled]="disableBtns"
        ></ion-checkbox>
    </ion-item>
</ion-list>
