<app-mail-layout
        class="height100PercentMinus110px"
        [isNeedRightPadding]="false"
        [isNeedLeftPadding]="false"
        [isNotNeedPaddingTopHeader]="true"
>
    <ion-grid class="ion-padding-start ion-padding-end">
        <ion-row>
            <ion-col class="p0">
                <ion-icon
                        class="icon-as-btn"
                        color="secondary"
                        name="arrow-back-outline"
                        size="large"
                        (click)="back()"
                ></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="mt16">
            <ion-col class="p0">
                <ion-text color="light" class="title-20">{{store.name}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="mt20">
            <ion-col class="p0">
                <ion-img [src]="store.image.length > 0 ? store.image : 'assets/images/no_photo_shop.png'"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="divisor mt20 mb20"></div>
    <ion-list>
        <ion-item color="primary" lines="none" class="ion-margin-end mb16">
            <div class="icon-slot" slot="start">
                <ion-icon src="assets/images/svg-icons/explore-24px.svg"></ion-icon>
            </div>
            <div class="d-flex flex-column">
                <ion-label >
                    <ion-text class="text-16" color="light">{{store.address_1}}</ion-text>
                </ion-label>
                <ion-text class="text-12" color="tertiary">{{store.city}}{{store.postcode ? ', ' + store.postcode: ''}}</ion-text>
            </div>
        </ion-item>
        <ion-item color="primary" lines="none" class="ion-margin-end mb16" *ngIf="store.email">
            <div class="icon-slot" slot="start">
                <ion-icon src="assets/images/svg-icons/email-24px.svg"></ion-icon>
            </div>
            <div class="d-flex flex-column">
                <ion-label >
                    <ion-text class="text-16" color="light">
                        <a [href]="'mailto:' + store.email" target="_blank">{{store.email}}</a>
                    </ion-text>
                </ion-label>
            </div>
        </ion-item>
        <ion-item color="primary" lines="none" class="ion-margin-end mb16" *ngIf="store.phone">
            <div class="icon-slot" slot="start">
                <ion-icon src="assets/images/svg-icons/call-24px.svg"></ion-icon>
            </div>
            <ion-label>
                <a class="text-16" [href]="'tel:' + store.phone" target="_blank">{{store.phone}}</a>
            </ion-label>
        </ion-item>
        <ion-item color="primary" lines="none" class="ion-margin-end" *ngIf="store.additional_info_header || store.additional_info">
            <div class="icon-slot" slot="start">
                <ion-icon src="assets/images/svg-icons/announcement-24px.svg"></ion-icon>
            </div>
            <div class="d-flex flex-column">
                <ion-label >
                    <ion-text class="text-16" color="light">{{store.additional_info_header}}</ion-text>
                </ion-label>
                <ion-text class="text-12" color="tertiary">{{store.additional_info}}</ion-text>
            </div>
        </ion-item>
    </ion-list>
    <ion-button
            color="success"
            expand="block"
            class="ion-margin-top ion-padding-start ion-padding-end"
            (click)="openBrowser()"
    >
        <ion-text class="text-15-500">Visit Website</ion-text>
    </ion-button>

</app-mail-layout>
