/*margin top*/
.mt4 {
  margin-top: var(--theme-base-margin);
}

.mt8 {
  margin-top: calc(var(--theme-base-margin) * 2);
}

.mt12 {
  margin-top: calc(var(--theme-base-margin) * 3);
}

.mt16 {
  margin-top: calc(var(--theme-base-margin) * 4);
}

.mt20 {
  margin-top: calc(var(--theme-base-margin) * 5);
}

/*margin bottom*/

.mb4 {
  margin-bottom: var(--theme-base-margin);
}

.mb8 {
  margin-bottom: calc(var(--theme-base-margin) * 2);
}

.mb12 {
  margin-bottom: calc(var(--theme-base-margin) * 3);
}

.mb16 {
  margin-bottom: calc(var(--theme-base-margin) * 4);
}

.mb20 {
  margin-bottom: calc(var(--theme-base-margin) * 5);
}

/*margin right*/

.mr4 {
  margin-right: var(--theme-base-margin);
}

.mr8 {
  margin-right: calc(var(--theme-base-margin) * 2);
}

.mr12 {
  margin-right: calc(var(--theme-base-margin) * 3);
}

.mr16 {
  margin-right: calc(var(--theme-base-margin) * 4);
}

.mr20 {
  margin-right: calc(var(--theme-base-margin) * 5);
}


/*margin left*/

.ml4 {
  margin-left: var(--theme-base-margin);
}

.ml8 {
  margin-left: calc(var(--theme-base-margin) * 2);
}

.ml12 {
  margin-left: calc(var(--theme-base-margin) * 3);
}

.ml16 {
  margin-left: calc(var(--theme-base-margin) * 4);
}

.ml20 {
  margin-left: calc(var(--theme-base-margin) * 5);
}


.m4 {
  margin: var(--theme-base-margin);
}

.m8 {
  margin: calc(var(--theme-base-margin) * 2);
}

.m12 {
  margin: calc(var(--theme-base-margin) * 3);
}

.m16 {
  margin: calc(var(--theme-base-margin) * 4);
}

.m20 {
  margin: calc(var(--theme-base-margin) * 5);
}
