

.mt8 {
  margin-top: calc(var(--theme-base-margin) * 2);
}

.mt12 {
  margin-top: calc(var(--theme-base-margin) * 3);
}

.mt16 {
  margin-top: calc(var(--theme-base-margin) * 4);
}

.mt20 {
  margin-top: calc(var(--theme-base-margin) * 5);
}

.mb8 {
  margin-bottom: calc(var(--theme-base-margin) * 2);
}

.mb12 {
  margin-bottom: calc(var(--theme-base-margin) * 3);
}

.mb16 {
  margin-bottom: calc(var(--theme-base-margin) * 4);
}

.mb20 {
  margin-bottom: calc(var(--theme-base-margin) * 5);
}
