ion-searchbar {
  --placeholder-font-weight: 500;
  --placeholder-color: var(--ion-color-light);
  --placeholder-opacity: 0.9;
  --border-radius: var(--theme-base-border-radius);
  --box-shadow: 0 0px 2px 0px var(--ion-color-secondary);

  padding-inline-start:1px;
  padding-inline-end: 1px;
}
