.current {
  padding-top: 50px;
  text-align: center;
}

.current__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;

}

.player {
  &:nth-child(odd) {
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
}
.next-btn {
  margin-top: auto;
  margin-bottom: 40px;
}
