<ion-content color="primary">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="stopGame()">
      <ion-icon name="power-outline" color="danger"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="h100percent d-flex flex-column ion-align-items-center ion-margin-start ion-margin-end current">
    <ion-text color="light" class="title-34  ">Current <br> Standings</ion-text>

    <div class="current__wrapper">
      <ng-container *ngFor="let player of players">
        <div class="d-flex flex-column ion-align-items-center player">
          <ion-avatar>
            <img [src]="player.picture">
          </ion-avatar>

          <ion-text color="tertiary" class="mt12 text-16">{{player.name}}</ion-text>
          <ion-text color="light" class="text-13-300">Points: {{player.score}}</ion-text>
          <app-skate-text [player]="player"></app-skate-text>
        </div>
      </ng-container>
    </div>

    <ion-button
            *ngIf="stillPlaying"
            class="w100percent next-btn"
            fill="solid"
            color="success"
            expand="block"
            (click)="nexTrick()"
    >
     Next Trick
    </ion-button>

    <ion-button
            *ngIf="!stillPlaying"
            class="w100percent next-btn"
            fill="solid"
            color="success"
            expand="block"
            (click)="openLeaderboard()"
    >
      Next
    </ion-button>
  </div>
</ion-content>
