<app-mail-layout [isNeeBackBtn]="false"[isNeedHeightWithTabsAndHeader]="true">
  <header class="d-flex ion-justify-content-between ion-align-items-center ion-margin-bottom header">
    <ion-text color="light" class="title-20">Register</ion-text>
  </header>

  <form [formGroup]="form" class="ion-margin-top">
    <ion-item color="primary" lines="none">
      <ion-label position="stacked">
        <ion-text class="text-16">First Name</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="firstName"
                 [minlength]="2" [maxlength]="25"
                 [ngClass]="{'invalid-input': form.get('firstName').touched && form.get('firstName').invalid}"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.firstName">
          <div class="error-message"
               *ngIf="form.get('firstName').hasError(validation.type) && (form.get('firstName').dirty || form.get('firstName').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label position="stacked">
        <ion-text class="text-16">Last Name</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="lastName"
                 [minlength]="2" [maxlength]="25"
                 [ngClass]="{'invalid-input': form.get('lastName').touched && form.get('lastName').invalid}"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.lastName">
          <div class="error-message"
               *ngIf="form.get('lastName').hasError(validation.type) && (form.get('lastName').dirty || form.get('lastName').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label position="stacked">
        <ion-text class="text-16">Email</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="email" autocomplete="off"  type="email"
                 [minlength]="2" [maxlength]="25"
                 [ngClass]="{'invalid-input': form.get('email').touched && form.get('email').invalid}"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message"
               *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label position="stacked">
        <div class="d-flex ion-justify-content-between">
          <ion-text class="text-16" color="light">Password</ion-text>
        </div>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="pwd" type="password" autocomplete="off"
                 [minlength]="8" [maxlength]="40"
                 [ngClass]="{'invalid-input': form.get('pwd').touched && form.get('pwd').invalid}"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.pwd">
          <div class="error-message"
               *ngIf="form.get('pwd').hasError(validation.type) && (form.get('pwd').dirty || form.get('pwd').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none"  class="large-pb">
      <ion-label position="stacked">
        <div class="d-flex ion-justify-content-between">
          <ion-text class="text-16" color="light">Confirm password</ion-text>
        </div>
      </ion-label>
      <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password" autocomplete="off"
                 [minlength]="8" [maxlength]="40"
                 [ngClass]="{'invalid-input': form.get('confirmPassword').touched && form.get('confirmPassword').invalid}"
      ></ion-input>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.pwd">
          <div class="error-message"
               *ngIf="form.get('confirmPassword').hasError(validation.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <ion-item color="primary" lines="none">
      <ion-label position="stacked">
        <div class="d-flex ion-justify-content-between">
          <ion-text class="text-16" color="light">DOB</ion-text>
        </div>
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" formControlName="dob" class="mt12"
                    [max]="maxYear" mode="ios"
                    [ngClass]="{'invalid-input': form.get('dob').touched && form.get('dob').invalid}"
      ></ion-datetime>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.dob">
          <div class="error-message"
               *ngIf="form.get('dob').hasError(validation.type) && (form.get('dob').dirty || form.get('dob').touched)"
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-item>

    <div class="ion-margin-top">
      <ion-label position="stacked">
        <ion-text class="text-16">Gender</ion-text>
      </ion-label>
      <app-custom-toggle-control formControlName="gender" [buttons]="genders"></app-custom-toggle-control>
    </div>

    <ion-button [disabled]="form.invalid || isReqSending" (click)="register()" class="mb12 apply-btn" fill="solid" color="success" expand="block">
      <ng-container *ngIf="isReqSending; else textBlock">
        <ion-spinner name="lines-small"></ion-spinner>Sending...
      </ng-container>
      <ng-template #textBlock>
        Sign up
      </ng-template>
    </ion-button>
  </form>
  <ion-footer class="ion-margin-top">
    <ion-text class="text-15 d-block ion-text-center" color="light">
      Already have an account?
      <ion-text (click)="openLogin()" color="secondary"> Log in</ion-text>
    </ion-text>
  </ion-footer>
</app-mail-layout>
