<app-mail-layout>

  <header class="d-flex ion-justify-content-between ion-align-items-center">
    <ion-text color="light" class="title-20">Stores</ion-text>
    <ion-button fill="solid" (click)="sort()" class="add-btn">
      <ion-icon src="assets/images/svg-icons/swap_vert-24px.svg"></ion-icon>
      <ion-text color="secondary" class="text-16">Sort</ion-text>
    </ion-button>
  </header>

  <ion-list color="primary">
    <ion-item *ngFor="let s of stores" color="primary" lines="none" (click)="openStore(s)">
      <ion-thumbnail slot="start" class="pos-relative">
        <ion-badge color="success" class="badge-into-thumbnail">Featured</ion-badge>
        <img src="../../../assets/images/thumbnall.png">
      </ion-thumbnail>
      <div class="d-flex flex-column ">
        <ion-text color="light" class="mb12 text-16">{{s.name}}</ion-text>
        <ion-text color="medium" class="text-15">{{s.address_1}}</ion-text>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</app-mail-layout>
