<ion-header>
    <ion-toolbar color="dark" class="ion-padding-top">
        <ion-text slot="start" class="ion ion-margin-start title-20">
            Filter
        </ion-text>

        <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
            Close
        </ion-text>

    </ion-toolbar>
</ion-header>
<ion-content color="dark" class="ion-padding-start ion-padding-end">
    <from [formGroup]="form">
        <div class="ion-margin-top row">
            <ion-label position="stacked">
                <ion-text class="text-16">Type</ion-text>
            </ion-label>
            <app-custom-toggle-control [buttons]="types" formControlName="type"></app-custom-toggle-control>
        </div>

        <div class="ion-margin-top row">
            <ion-label position="stacked">
                <ion-text class="text-16">Surface</ion-text>
            </ion-label>
            <app-custom-toggle-control [buttons]="surfaces" formControlName="material"></app-custom-toggle-control>
        </div>

        <div class="ion-margin-top row">
            <ion-label position="stacked">
                <ion-text class="text-16">Skatelite</ion-text>
            </ion-label>
            <app-custom-toggle-control [buttons]="skatelite" formControlName="skatelite"></app-custom-toggle-control>
        </div>

        <div class="ion-margin-top row">
            <ion-label position="stacked">
                <ion-text class="text-16">Features</ion-text>
            </ion-label>
            <div class="mt12">
                <app-checkbox-list [checkboxes]="checkboxes" formControlName="features"></app-checkbox-list>
            </div>
        </div>
    </from>
</ion-content>
<ion-footer>
    <ion-toolbar color="dark">
        <ion-button
                class="ion-margin-start ion-margin-end mb12 apply-btn"
                fill="solid" color="success" expand="block"
                (click)="applyFilter()"
        >
            Apply filters
        </ion-button>
    </ion-toolbar>
</ion-footer>
