<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" color="dark" (click)="back()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-searchbar
            class="search-field-page"
            inputmode="search"
            mode="ios"
            color="dark"
            placeholder="Looking for a skatepark?"
            clearIcon="close-outline"
            debounce="600"
            searchIcon="undefined"
            (ionChange)="search($event)"
    ></ion-searchbar>
    <ion-button slot="end" color="dark" class="filter-btn" (click)="openFilter()" size="small">
      <ion-icon slot="icon-only" name="filter" size="small"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-segment (ionChange)="segmentChanged($event)" mode="md"  value="list" color="secondary">
    <ion-segment-button value="list">
      <ion-text class="text-16-500">List view</ion-text>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map view</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
