.invalid-input {
  border-bottom: 1px solid var(--ion-color-danger);
}

.valid-input {
  border-bottom: 1px solid var(--ion-color-success);
}

.has-focus {
  border: 1px solid var(--theme-dark-green);
}

.validation-errors {
  position: absolute;
  bottom: 0;
  padding: 2px 0;
  font-size: 10px;
  line-height: 0.8em;
  color: var(--ion-color-danger);
}
