.header-md::after {
  display: none;
}

ion-content.height-tabs-header {
  height: calc(100vh - 132px);
}

.logo {
  margin-left: 20px;
}

ion-toolbar {
  &.layout-toolbar {
    padding-top: 24px;
    padding-bottom: 18px;
    --border-width: 0!important;

    &--pb0 {
      padding-bottom: 0;
    }
  }
}

.menu-icon {
  width: 42px;
  height: 42px;
}

.header-menu-button {
  margin-inline-end: 12px;
  font-size: 42px;
  // height: 42px;
}
