.header-md::after {
  display: none;
}

.logo {
  margin-left: 20px;
}

ion-toolbar.layout-toolbar {
  padding-top: 18px;
  padding-bottom: 18px;
  --border-width: 0!important;
}

.menu-icon {
  width: 36px;
  height: 36px;
}

.header-menu-button {
  margin-inline-end: 12px;
}
