<ion-header [translucent]="true">
  <ion-toolbar
          color="primary"
          class="layout-toolbar"
          [ngClass]="{'layout-toolbar-pb0': isNotNeedPaddingTopHeader}"
  >
    <div class="logo">
      <app-logo></app-logo>
    </div>
    <ion-menu-button *ngIf="mainLayoutHelper.menuToggleEmitter$ | async" slot="end" color="light" class="header-menu-button" (click)="openMenu()">
      <ion-icon class="menu-icon" slot="icon-only" size="large" name="menu-outline"></ion-icon>
    </ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true" [ngClass]="{'ion-padding-start': isNeedLeftPadding, 'ion-padding-end': isNeedRightPadding}">
 <ng-content></ng-content>
</ion-content>
