<ion-app>
    <ion-split-pane contentId="main">
        <!--  the side menu  -->
        <ion-menu contentId="main" menuId="main-menu" (ionDidClose)="showHeaderToggle()">
            <ion-header>
                <ion-toolbar color="primary" class="ion-padding-top">
                    <ion-menu-toggle auto-hide="false" slot="end" class="ion-margin-end">
                        <ion-icon name="menu-outline" color="light" size="large"></ion-icon>
                    </ion-menu-toggle>
                </ion-toolbar>
            </ion-header>
            <ion-content color="primary">
                <ion-list lines="full">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item color="primary" class="person" (click)="openProfile()">
                            <ion-thumbnail slot="start">
                                <img [src]="profile ? profile.picture : 'assets/images/no-avatar.png'">
                            </ion-thumbnail>
                            <ion-label>
                                <h3 class="person__name">Mike Johanssen</h3>
                                <ion-text color="medium" class="person__info">Active since 2019</ion-text>
                            </ion-label>
                            <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item color="primary" (click)="openTeam()"
                        >
                            <ion-label>Roll with Team GB</ion-label>
                            <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item color="primary" (click)="openNews()">
                            <ion-label>News</ion-label>
                            <ion-icon color="medium" slot="end" name="chevron-forward-outline"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

            </ion-content>
        </ion-menu>

        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
