ion-toolbar {
  padding-bottom: 18px;
  --border-width: 0!important;
}

ion-menu {
  --width: 350px;
}

ion-list.list-ios {
  background: var(--ion-color-primary);
}

ion-thumbnail {
  width: 80px;
  height: 80px;
}

.person {
  --padding-bottom: var(--ion-padding);

  &__name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  &__info {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
  }
}
