<app-mail-layout
        [isNeedRightPadding]="false"
>
    <div class="ion-margin-end">
        <ion-searchbar
                class="search-field"
                inputmode="search"
                mode="ios"
                color="dark"
                placeholder="Looking for a skatepark?"
                clearIcon="close-outline"
                debounce="600"
                (ionChange)="openSearchPage($event)"
        ></ion-searchbar>
    </div>
    <app-slider-block
            title="Most popular"
            [sliders]="sliders"
            [isNeedRating]="true"
    >
    </app-slider-block>
    <div class="ion-margin-top ion-margin-bottom ion-margin-end">
        <app-add-skatepark-board></app-add-skatepark-board>
    </div>
    <app-slider-block
            title="Favourite skateparks"
            [sliders]="sliders"
    >
    </app-slider-block>
    <div class="ion-margin-top ion-margin-bottom ion-margin-end">
        <app-add-spot-board></app-add-spot-board>
    </div>
</app-mail-layout>
