<section class="slider-block">
  <header class="ion-margin-bottom">
    <ion-text class="title-20">{{title}}</ion-text>
  </header>

  <div class="slider-block__list">
    <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides" pager="false">
      <ion-slide *ngFor =" let park of parks" (click)="openSkatepark(park.id)">
        <div class="slide" (click)="openSlide()">
          <div class="slide__img" *ngIf="park.has_images" [ngStyle]="{'background-image':'url('+ park.images[0]+')'}"></div>
          <!--  <img src="{{slide.imgSrc}}">-->
          <div class="slide__wrap" [ngClass]="{'mt8': !isNeedRating}">
            <ionic-rating-component
                    *ngIf="isNeedRating"
                    #rating
                    activeIcon = "star"
                    defaultIcon = "star-outline"
                    [activeColor] = activeRatingColor
                    [defaultColor] = defaultRatingColor
                    readonly="false"
                    [rating]="park.rating"
                    fontSize = "16px">
            </ionic-rating-component>
              <span class="text-15-500 slide__title">
                {{park.name}}
              </span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</section>
