<app-mail-layout
        class="height100PercentMinus110px"
        [isNeedLeftPadding]="false"
        [isNeedRightPadding]="false"
>
  <div class="ion-margin-start ion-margin-end d-flex flex-column ion-justify-content-center ion-align-items-center">
    <ion-text color="light" class="title-34">Play S.K.A.T.E</ion-text>
    <ion-button fill="clear" (click)="openHowPlayModal()">
      <ion-icon color="secondary" name="information-circle-outline" slot="start"></ion-icon>
      <ion-text color="secondary">How do I play?</ion-text>
    </ion-button>
  </div>
  <div class="divisor mt12 mb20"></div>
  <div class="ion-margin-start ion-margin-end d-flex flex-column">
    <ion-label slot="stacked">
      <ion-text color="light" class="text-16">Choose difficulty</ion-text>
      <div class="d-flex ion-justify-content-between mt12">
        <app-difficulty *ngFor="let d of difficulties" [difficulty]="d" (click)="selectDifficulty(d)"></app-difficulty>
      </div>
    </ion-label>
  </div>

  <div class="ion-margin-start ion-margin-end ion-margin-top d-flex flex-column">
    <ion-label slot="stacked">
      <ion-text color="light" class="text-16">Add players</ion-text>
      <div class="d-flex mt12">
        <div class="person" *ngFor="let p of players">
          <app-person [player]="p"></app-person>
        </div>
        <div class="person person--add text-hover" (click)="addPlayer()">
          <ion-icon name="add-outline" color="light"></ion-icon>
        </div>
      </div>
    </ion-label>
  </div>

  <div class="ion-margin-start ion-margin-end ion-margin-top d-flex flex-column">
    <ion-label slot="stacked">
      <ion-text color="light" class="text-16">Type of tricks</ion-text>
      <div class="d-flex mt12">
        <app-checkbox-list
                [checkboxes]="checkboxes"
                [defaultCheckedColor]="'darktwo'"
                [defaultUncheckedColor]="'primary'"
                [(ngModel)]="selectedTrickTypes"
        ></app-checkbox-list>
      </div>
    </ion-label>
  </div>
  <div class="ion-margin-start ion-margin-end ion-margin-top ion-margin-bottom">
    <ion-button
            [disabled]="players.length < 1 || !selectedDifficulty || selectedTrickTypes.length < 1"
            class=" w100percent"
            fill="solid"
            color="success"
            expand="block"
            (click)="startGame()"
    >
      Start game
    </ion-button>
  </div>
</app-mail-layout>
