<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text slot="start" class="ion-margin-start title-20">
      Ratings
    </ion-text>

    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div class="ion-margin-start ion-margin-end ion-margin-top" *ngIf="!isCommentedThisUser">
    <ion-item color="dark">
      <ion-label position="stacked">
        <ion-text color="light" class="text-16">Your rating</ion-text>
      </ion-label>
      <ionic-rating-component
              #rating
              activeIcon = "star"
              defaultIcon = "star-outline"
              [activeColor] = activeRatingColor
              [defaultColor] = defaultRatingColor
              readonly="false"
              [(ngModel)]="newRating"
              fontSize = "16px">
      </ionic-rating-component>
    </ion-item>

    <ion-item color="dark">
      <ion-label position="stacked" class="mb12">
        <ion-text color="light" class="text-16">Add a comment </ion-text>
        <ion-text color="tertiary" class="text-16">(optional)</ion-text>
      </ion-label>
      <ion-textarea rows="4" placeholder="Type here" [(ngModel)]="comment"></ion-textarea>
    </ion-item>
    <ion-button
            color="success"
            expand="block"
            class="ion-margin-top"
    >
      <ion-text class="text-15-500" (click)="sendRating()">Add Rating</ion-text>
    </ion-button>
  </div>
  <div class="divisor mt20 mb20"></div>
  <div class="ion-margin-start ion-margin-end d-flex ion-justify-content-between ion-align-items-center">
    <ion-text color="secondary" class="text-16">Overall rating</ion-text>
    <ion-text color="secondary" class="title-28">{{park.rating}}</ion-text>
  </div>

  <div class="ion-margin-top your-rating" *ngIf="yourRating">
    <div class="ion-margin-start ion-margin-end d-flex ion-justify-content-between ion-align-items-center">
      <ion-text color="light" class="text-16">Your Ratings</ion-text>
    </div>

    <ion-list class="ion-margin-top" lines="none">
      <ion-item color="primary" class="ion-margin-start ion-margin-end ion-margin-bottom" lines="none">
        <ion-avatar slot="start">
          <img [src]="yourRating.user.picture">
        </ion-avatar>
        <div class="rating">
          <div class="rating__row d-flex ion-justify-content-between ion-align-items-center">
            <div class="rating__author">{{yourRating.user.name}}</div>
            <ionic-rating-component
                    *ngIf="yourRating.rating"
                    class="comment-rating"
                    #rating
                    activeIcon = "star"
                    defaultIcon = "star-outline"
                    [activeColor] = activeRatingColor
                    [defaultColor] = defaultRatingColor
                    readonly="true"
                    [rating]="yourRating.rating"
                    fontSize = "16px">
            </ionic-rating-component>
          </div>
          <div class="rating__row">
            <ion-text color="tertiary" class="text-15">{{yourRating.post}}</ion-text>
          </div>
          <div class="rating__row">
            <ion-text color="medium" class="text-13-300">{{yourRating.date}}</ion-text>
          </div>

        </div>
      </ion-item>
    </ion-list>

  </div>


  <div class="ion-margin-start ion-margin-end ion-margin-top d-flex ion-justify-content-between ion-align-items-center">
    <ion-text color="light" class="text-16">User Ratings</ion-text>
    <ion-text color="tertiary" class="text-15">{{userRatings.length}} ratings</ion-text>
  </div>

  <ion-list class="ion-margin-top" lines="none">
    <ion-item color="dark" class="ion-margin-start ion-margin-end ion-margin-bottom" *ngFor="let r of userRatings" lines="none">
      <ion-avatar slot="start">
        <img [src]="r.user.picture">
      </ion-avatar>
      <div class="rating">
        <div class="rating__row d-flex ion-justify-content-between ion-align-items-center">
          <div class="rating__author">{{r.user.name}}</div>
          <ionic-rating-component
                  *ngIf="r.rating"
                  class="comment-rating"
                  #rating
                  activeIcon = "star"
                  defaultIcon = "star-outline"
                  [activeColor] = activeRatingColor
                  [defaultColor] = defaultRatingColor
                  readonly="true"
                  [rating]="r.rating"
                  fontSize = "16px">
          </ionic-rating-component>
        </div>
        <div class="rating__row">
          <ion-text color="tertiary" class="text-15">{{r.post}}</ion-text>
        </div>
        <div class="rating__row">
          <ion-text color="medium" class="text-13-300">{{r.date}}</ion-text>
        </div>

      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
