
.slider-block {
  margin-top: calc(var(--theme-base-margin) * 6);
}


.slide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 90px;

  background-color: var(--ion-color-dark);
  border-radius: var(--theme-base-border-radius);

  &__img {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__wrap {
    display: block;
    width: 80px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}
ion-progress-bar {
  --buffer-background: var(--ion-color-dark-tint);
}
