.closest {
  display: flex;

  &__img {
    width: 80px;
    height: 72px;

    background-color: var(--ion-color-primary);
    background-image: url("/../../assets/images/closest.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__store {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }
}
