<app-mail-layout class="mainLayoutHeight124">

  <header class="d-flex ion-justify-content-between ion-align-items-center ion-margin-bottom">
    <ion-text color="light" class="title-20">News</ion-text>
  </header>


    <ion-card *ngFor="let item of items" color="primary" (click)="openNews(1)">
      <div>
        <ion-thumbnail>
          <ion-img [src]="item.image" [alt]="item.title">
          </ion-img>
        </ion-thumbnail>
      </div>
      <ion-card-header>
        <ion-card-subtitle><ion-text color="light" class="text-16-500 text-no-transform">{{ item.title }}</ion-text></ion-card-subtitle>
        <ion-card-title class="text-16-500"><ion-text color="tertiary" class="text-15">{{ item.content | appOverflowDots: 70 }}</ion-text></ion-card-title>
      </ion-card-header>
    </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</app-mail-layout>
