<app-mail-layout [isNeeBackBtn]="false" [footerSlot]="footer" [isNeedHeightWithTabsAndHeader]="true">
    <header class="d-flex ion-justify-content-between ion-align-items-center ion-margin-bottom header">
        <ion-text color="light" class="title-20">Login</ion-text>
    </header>

    <form [formGroup]="form" class="ion-margin-top">
        <ion-item color="primary">
            <ion-label position="stacked">
                <ion-text class="text-16">Email</ion-text>
            </ion-label>
            <ion-input placeholder="Type here" formControlName="email" type="email"
                       [ngClass]="{'invalid-input': form.get('email').touched && form.get('email').invalid}"
            ></ion-input>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.email">
                    <div class="error-message"
                         *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)"
                    >
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </ion-item>

        <ion-item color="primary">
            <ion-label position="stacked">
                <div class="d-flex ion-justify-content-between">
                    <ion-text class="text-16" color="light">Password</ion-text>
                    <ion-button class="forgot-btn" fill="clear" color="secondary"(click)="openForgot($event)">
                        <ion-text class="text-16" color="secondary" >Forgot password</ion-text>
                    </ion-button>

                </div>
            </ion-label>
            <ion-input placeholder="Type here" formControlName="password" type="password" autocomplete="off"
                       [minlength]="8" [maxlength]="40"
                       [ngClass]="{'invalid-input': form.get('password').touched && form.get('password').invalid}"
            ></ion-input>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessages.password">
                    <div class="error-message"
                         *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)"
                    >
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
        </ion-item>

        <ion-button [disabled]="form.invalid" (click)="login()" class="mb12 apply-btn" fill="solid" color="success" expand="block">
            <ng-container *ngIf="isReqSending; else textBlock">
                <ion-spinner name="lines-small"></ion-spinner>Sending...
            </ng-container>
            <ng-template #textBlock>
                Log in
            </ng-template>
        </ion-button>
    </form>

    <ng-template #footer>
        <ion-footer>
            <ion-toolbar color="primary">
                <ion-text class="text-15 d-block ion-text-center" color="light">
                    Don’t have an account?
                    <ion-text (click)="openRegistration()" color="secondary">Sign up</ion-text>
                </ion-text>
            </ion-toolbar>
        </ion-footer>
    </ng-template>

</app-mail-layout>
