<app-mail-layout
        class="height100PercentMinus110px"
        [isNeedRightPadding]="false"
        [isNeedLeftPadding]="false"
        [isNotNeedPaddingTopHeader]="true"
>
  <ion-grid class="ion-padding-start ion-padding-end mb12">
    <ion-row>
      <ion-col class="p0">
        <ion-icon
                class="icon-as-btn"
                color="secondary"
                name="arrow-back-outline"
                size="large"
                (click)="back()"
        ></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="p0">
        <ion-text color="light" class="title-28">{{news.title}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-thumbnail>
    <ion-img [src]="news.image"></ion-img>
  </ion-thumbnail>
  <div class="ion-padding-start ion-padding-end ion-margin-top">
    <ion-text color="tertiary" class="text-15">{{news.content}}</ion-text>
  </div>
</app-mail-layout>
