<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text slot="start" class="ion-margin-start title-20">
      How to play
    </ion-text>

    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div class="ion-margin-start ion-margin-end">
    <p  class="text-16-500">
      <ion-text color="tertiary">
        Set a trick, take turns to land it and record your land (or fail) against your name. Last person to get all 5 letters of S.K.A.T.E wins
      </ion-text>
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button (click)="closeModal()"  class="ion-margin-start ion-margin-end mb12 apply-btn" fill="solid" color="success" expand="block">
     Got it
    </ion-button>
  </ion-toolbar>
</ion-footer>
