<ion-header>
  <ion-toolbar color="dark" class="ion-padding-top">
    <ion-text slot="start" class="ion-margin-start title-20">
      How to play
    </ion-text>

    <ion-text (click)="closeModal()" slot="end" color="secondary" class="ion-margin-end text-16-500 text-hover">
      Close
    </ion-text>

  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div class="ion-margin-start ion-margin-end">
    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>

    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>
    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>

    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>
    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>
    <p  class="text-15">
      <ion-text color="tertiary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem doloribus est et nesciunt obcaecati
        quasi repellat tenetur vitae? Animi at fugiat iusto praesentium quaerat, quisquam rerum sapiente similique ut!
      </ion-text>
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-button class="ion-margin-start ion-margin-end mb12 apply-btn" fill="solid" color="success" expand="block">
     Go it
    </ion-button>
  </ion-toolbar>
</ion-footer>
