ion-input, ion-textarea {
  --background: var(--ion-color-medium-contrast) !important;
  --placeholder-color: var(--ion-color-medium) !important;
  --color: var(--ion-color-light) !important;
  --padding-start: 16px !important;
  --padding-end: 16px !important;
  --padding-top: 10px !important;
  --padding-botton: 10px !important;
  --border-radius: var(--theme-base-border-radius);

}
ion-label {
  white-space: normal !important;
}
