<div class="d-flex">
  <input type="file" #upload (change)="uploadFiles($event)" style="display: none">
  <div class="add-btn" (click)="addFile()">
    <ion-icon *ngIf="!isLoadingPhoto" color="light" name="add-outline" size="large"></ion-icon>
    <ion-spinner *ngIf="isLoadingPhoto" color="light"></ion-spinner>
  </div>

  <ion-slides #slider pager="false" [options]="slideOpts" class="custom-slides">
    <ion-slide *ngFor =" let slide of sliders">
      <div class="slide" >
        <div class="slide__img"  [ngStyle]="{'background-image':'url('+slide.imgSrc+')'}"></div>
      </div>
    </ion-slide>
  </ion-slides>
</div>

