<app-mail-layout [isNeeBackBtn]="false" [footerSlot]="footer" [isNeedHeightWithTabsAndHeader]="true">
  <header class="d-flex ion-justify-content-between ion-align-items-center ion-margin-bottom header">
    <ion-text color="light" class="title-20">Forgot password</ion-text>
  </header>

  <div class="ion-margin-top">
    <ion-text color="tertiary" class="text-15">We just need your registered email address to send you password reset instructions</ion-text>
  </div>

  <form [formGroup]="form" class="ion-margin-top">
    <ion-item color="primary">
      <ion-label position="stacked">
        <ion-text class="text-16">Email</ion-text>
      </ion-label>
      <ion-input placeholder="Type here" formControlName="email"></ion-input>
    </ion-item>

    <ion-button (click)="reset()" class="mb12 apply-btn" fill="solid" color="success" expand="block">
      Reset
    </ion-button>
  </form>

  <ng-template #footer>
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-text (click)="openLogin()" class="text-15 d-block ion-text-center" color="secondary">Back to Log in</ion-text>
      </ion-toolbar>
    </ion-footer>
  </ng-template>

</app-mail-layout>
