<ion-header>
    <ion-toolbar color="dark">
        <ion-button slot="start" color="dark" (click)="back()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-searchbar
                class="search-field-page"
                inputmode="search"
                mode="ios"
                color="dark"
                placeholder="Looking for a skatepark?"
                clearIcon="close-outline"
                debounce="600"
                searchIcon="undefined"
                [(ngModel)]="currentFilter.location"
                (ionChange)="search($event)"
        ></ion-searchbar>
        <ion-button slot="end" [color]="isFilterActive? 'warning': 'light'" fill="clear" class="filter-btn"
                    (click)="openFilter()" size="small">
            <ion-icon slot="icon-only" name="filter" size="small"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<div class="segments-wrapper">
    <ion-segment (ionChange)="segmentChanged()" mode="md" [(ngModel)]="selectedSegment" color="secondary">
        <ion-segment-button *ngFor="let s of segments" [value]="s">
            <ion-label>
                <ion-text class="text-16-500 text-no-transform">{{segmentsEnum2LabelMapping[s]}}</ion-text>
            </ion-label>
        </ion-segment-button>
    </ion-segment>
</div>

<ion-content color="primary">

    <ng-container *ngIf="selectedSegment === segmentsEnum.LIST">
        <ion-list color="primary">
            <ion-item *ngFor="let s of foundSkateparks" color="primary" lines="none" (click)="openSkatepark(s)">
                <ion-thumbnail slot="start" class="pos-relative">
                    <ion-badge *ngIf="s._isNew" color="success" class="badge-into-thumbnail">New</ion-badge>
                    <img [src]="s.has_images === '1' ? s.images[0] : '../../../assets/images/no-image-thumbnall.png'">
                </ion-thumbnail>
                <div class="d-flex flex-column">
                    <ion-text color="light" class="text-16">{{s.name}}</ion-text>
                    <ion-text color="medium" class="text-15">{{s.address}}, {{s.city}}</ion-text>
                    <ion-text color="medium" class="text-13-300">Last update on May 5, 2020</ion-text>
                </div>


                <div class="d-flex flex-column">
                    <ion-fab-button slot="end" color="primary" size="small">
                        <ion-text color="secondary" class="text-16">{{s.rating}}</ion-text>
                    </ion-fab-button>

                    <ion-text class="text-10-500">({{s.rating_count ? s.rating_count : 0 }} ratings)</ion-text>
                </div>


            </ion-item>
        </ion-list>

        <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
             <ion-infinite-scroll-content
                     loadingSpinner="bubbles"
                     loadingText="Loading more..."
             >
             </ion-infinite-scroll-content>
         </ion-infinite-scroll>-->
    </ng-container>
    <ng-container *ngIf="selectedSegment === segmentsEnum.MAP">
        <app-google-map [coordinates]="currentFilter.coordinates"
                        [skateparks]="foundSkateparks"
                        [searchValue]="currentFilter.location"
        ></app-google-map>
    </ng-container>
</ion-content>
